[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cook
Icon=dolmades-run
Name=Launch
GenericName=Launch Win Applications
Comment=Launch Win Applications
