[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=./dolmades-wrapper.sh
Icon=dolmades-menu
Name=The Goglizer
GenericName=Dolmades - Win Apps under Linux
Comment=Dolmades - Win Apps under Linux
