[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cook
Icon=dolmades-tools
Name=Manage
GenericName=Manage Win Applications
Comment=Manage Win Applications
