[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cook
Icon=dolmades-cook
Name=Cook
GenericName=Install Win Applications
Comment=Install Win Applications
