[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=./uninstall.sh
Icon=dolmades-uninstall
Name=Uninstall "The Goglizer"
GenericName=Removes Dolmades and all installed Applications
Comment=Removes Dolmades and all installed Applications
