[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cook
Icon=dolmades-recipe
Name=Recipes
GenericName=Add/Remove Recipes
Comment=Add/Remove Recipes
